page-about {

}

ion-card {
  display: flex !important;
  justify-content: space-between !important;
}

ion-card ion-toggle {
  padding-top: 18px !important;
  margin-right: 10px;
}

ion-card ion-toggle.toggle-ios {
  padding-top: 12px !important;
}
